<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>
	<col width='18%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_rel_formula_item_id','query-smnrelformulaitemfunciones.sql')" >${lbl:b_relationship_formula_item}</th>
		<th class='sortable' onclick="sortBy('smn_funciones_id_combo','query-smnrelformulaitemfunciones.sql')" >${lbl:b_functions}</th>
		<th class='sortable' onclick="sortBy('rfe_cantidad','query-smnrelformulaitemfunciones.sql')" >${lbl:b_quantity}</th>
		<th class='sortable' onclick="sortBy('smn_unidad_medida_rf_combo','query-smnrelformulaitemfunciones.sql')" >${lbl:b_unidad_medida}</th>
		<th class='sortable' onclick="sortBy('rff_fecha_registro','query-smnrelformulaitemfunciones.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_formula_item_funciones_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_formula_item_funciones_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_formula_item_funciones_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_rel_formula_item_id}</td>
		<td align="center">${fld:smn_funciones_id_combo}</td>
		<td align="right">${fld:rfe_cantidad@#,###,##0.00}</td>
		<td align="center">${fld:smn_unidad_medida_rf_combo}</td>
		<td align="center">${fld:rff_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
