<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smnordenproduccion.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_modulo_rf</colname>
			<colname>opr_numero_documento_origen</colname>
			<colname>smn_documento_id</colname>
			<colname>opr_numero_documento</colname>
			<colname>opr_descripcion</colname>
			<colname>smn_entidad_rf</colname>
			<colname>smn_item_rf</colname>
			<colname>opr_fecha_despacho</colname>
			<colname>opr_fecha_registro_ini</colname>
			<colname>opr_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_produccion.smn_orden_produccion</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smnordenproduccion.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_modulo_rf;opr_numero_documento_origen;smn_documento_id;opr_numero_documento;opr_descripcion;smn_entidad_rf;smn_item_rf;opr_fecha_despacho;opr_fecha_registro_ini;opr_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
