<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ver resultado de consulta
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query.sql" source="sql" scope="session" />
	<!-- 	<recordset id='detail-smnrelformulaitemmateriales.sql' source='sql' scope='session' />
		<recordset id='detail-smnrelformulaitemcentroproduccion.sql' source='sql' scope='session' />
		<recordset id='detail-smnrelformulaitemequipos.sql' source='sql' scope='session' />
		<recordset id='detail-smnrelformulaitemfunciones.sql' source='sql' scope='session' /> -->

	</transaction>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>template.htm</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/html</content-type>
		<!-- <print mode='table' recordset='detail-smnrelformulaitemmateriales.sql' tag='rows-smnrelformulaitemmateriales' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrelformulaitemcentroproduccion.sql' tag='rows-smnrelformulaitemcentroproduccion' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrelformulaitemequipos.sql' tag='rows-smnrelformulaitemequipos' alternate-colors='true' />
		<print mode='table' recordset='detail-smnrelformulaitemfunciones.sql' tag='rows-smnrelformulaitemfunciones' alternate-colors='true' />
 -->
		<print mode="form" recordset="query.sql" />
	</output>

</config>
