<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordenproduccionmateriales.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_order_production_materials}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_order_production_materials}">
				<col id='smn_orden_produccion_id' label='${lbl:b_order_production}' />
		<col id='smn_centro_produccion_id' label='${lbl:b_center_production}' />
		<col id='smn_linea_produccion_id' label='${lbl:b_production_line}' />
		<col id='smn_item_rf' label='${lbl:b_item}' />
		<col id='opm_cantidad_solicitada' label='${lbl:b_cantidad_solicitada}' />
		<col id='opm_cantidad_despachada' label='${lbl:b_cantidad_despachada}' />
		<col id='opm_costo_ml' label='${lbl:b_costo_ml}' />
		<col id='opm_costo_ma' label='${lbl:b_costo_ma}' />
		<col id='opm_estatus' label='${lbl:b_status}' />
		<col id='opm_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
