<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>
	<col width='7%'/>


	<!--toolbar-->
	<tr>
		<th colspan="16" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_modulo_rf','query-smnordenproduccion.sql')" >${lbl:b_module}</th>
		<th class='sortable' onclick="sortBy('smn_documento_origen_rf','query-smnordenproduccion.sql')" >${lbl:b_origen_documents}</th>
		<th class='sortable' onclick="sortBy('opr_numero_documento_origen','query-smnordenproduccion.sql')" >${lbl:b_number_document_origin}</th>
		<th class='sortable' onclick="sortBy('smn_documento_id','query-smnordenproduccion.sql')" >${lbl:b_documents}</th>
		<th class='sortable' onclick="sortBy('opr_numero_documento','query-smnordenproduccion.sql')" >${lbl:b_number_document}</th>
		<th class='sortable' onclick="sortBy('opr_descripcion','query-smnordenproduccion.sql')" >${lbl:b_transaction_description}</th>
		<th class='sortable' onclick="sortBy('smn_entidad_rf','query-smnordenproduccion.sql')" >${lbl:b_entities}</th>
		<th class='sortable' onclick="sortBy('smn_item_rf','query-smnordenproduccion.sql')" >${lbl:b_item}</th>
		<th class='sortable' onclick="sortBy('opr_cantidad','query-smnordenproduccion.sql')" >${lbl:b_quantity}</th>
		<th class='sortable' onclick="sortBy('opr_fecha_despacho','query-smnordenproduccion.sql')" >${lbl:b_fecha_despacho}</th>
		<th class='sortable' onclick="sortBy('smn_rol_id','query-smnordenproduccion.sql')" >${lbl:b_rol}</th>
		<th class='sortable' onclick="sortBy('opr_estatus','query-smnordenproduccion.sql')" >${lbl:b_status}</th>
		<th class='sortable' onclick="sortBy('opr_fecha_registro','query-smnordenproduccion.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_orden_produccion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_orden_produccion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_orden_produccion_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_modulo_rf}</td>
		<td align="center">${fld:smn_documento_origen_rf}</td>
		<td align="center">${fld:opr_numero_documento_origen}</td>
		<td align="center">${fld:smn_documento_id}</td>
		<td align="center">${fld:opr_numero_documento}</td>
		<td align="left">${fld:opr_descripcion}</td>
		<td align="center">${fld:smn_entidad_rf}</td>
		<td align="center">${fld:smn_item_rf}</td>
		<td align="right">${fld:opr_cantidad@#,###,##0.00}</td>
		<td align="center">${fld:opr_fecha_despacho@dd-MM-yyyy}</td>
		<td align="center">${fld:smn_rol_id}</td>
		<td align="left">${fld:opr_estatus}</td>
		<td align="center">${fld:opr_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
