<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>
	<col width='14%'/>


	<!--toolbar-->
	<tr>
		<th colspan="7" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_rel_formula_item_id_combo","query-smnrelformulaitemcentroproduccion.sql")'>${lbl:b_relationship_formula_item}</th>
		<th class='sortable' onclick='sortBy("smn_centro_produccion_id_combo","query-smnrelformulaitemcentroproduccion.sql")'>${lbl:b_center_production}</th>
		<th class='sortable' onclick='sortBy("smn_linea_produccion_id_combo","query-smnrelformulaitemcentroproduccion.sql")'>${lbl:b_production_line}</th>
		<th class='sortable' onclick='sortBy("rfc_fecha_registro","query-smnrelformulaitemcentroproduccion.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_formula_item_centro_produccion_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_formula_item_centro_produccion_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_formula_item_centro_produccion_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_rel_formula_item_id_combo}</td>
		<td>${fld:smn_centro_produccion_id_combo}</td>
		<td>${fld:smn_linea_produccion_id_combo}</td>
		<td>${fld:rfc_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
