<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Ejecutar consulta y enrutar dependiendo de que un recordset
		tenga o no registros
	</summary>

	<log>false</log>

	<!--configura el control de paginacion-->
	<set-request-attribute id="paging.recordset" value="query-smndocumento.sql" />
	<set-request-attribute id="paging.pagesize" value="10" />

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_tipo_documento_id</colname>
			<colname>doc_codigo</colname>
			<colname>doc_nombre</colname>
			<colname>smn_documento_general_rf</colname>
			<colname>smn_modulo_origen</colname>
			<colname>doc_tipo_movimiento</colname>
			<colname>doc_tipo_orden</colname>
			<colname>doc_estatus</colname>
			<colname>doc_fecha_registro_ini</colname>
			<colname>doc_fecha_registro_fin</colname>
		
		</cols>
		<table>smn_produccion.smn_documento</table>
		<oper>CONSULTA</oper>
		<area>Consulta</area>
		<!-- 
 			para auditoria de consulta permite obtener la cantidad de registro obtenidos
 			de la busqueda (opcional)
 		-->
		<recordCount recordset="query-smndocumento.sql"/>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableSearch</classname>
		<validator>true</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
	</transaction>
	
	<searchCols>smn_tipo_documento_id;doc_codigo;doc_nombre;smn_documento_general_rf;smn_modulo_origen;doc_tipo_movimiento;doc_tipo_orden;doc_estatus;doc_fecha_registro_ini;doc_fecha_registro_fin;</searchCols>

	<on-exit return-code="0" forward-to="/action/initview" />
	<on-exit return-code="1" forward-to="${def:actionroot}/notfound" />

</config>
