<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelformulaitem.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_relationship_formula_item}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_relationship_formula_item}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnrelformulaitem.sql' width='100' spacingBefore='40'>
			<col name='smn_formula_id_combo' title='${lbl:b_formula}' width='50' align='left' format='######' />
			<col name='smn_nivel_estructura_id_combo' title='${lbl:b_level_structure}' width='50' align='left' format='######' />

		</record>

	</pdf-report>
</config>
