<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>
	<col width='20%'/>


	<!--toolbar-->
	<tr>
		<th colspan="8" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick='sortBy("smn_rel_formula_item_id","query-smnrelformulaitemmateriales.sql")'>${lbl:b_relationship_formula_item}</th>
		<th class='sortable' onclick='sortBy("smn_item_id_combo","query-smnrelformulaitemmateriales.sql")'>${lbl:b_item}</th>
		<th class='sortable' onclick='sortBy("rfm_cantidad","query-smnrelformulaitemmateriales.sql")'>${lbl:b_quantity}</th>
		<th class='sortable' onclick='sortBy("smn_unidad_medida_rf_combo","query-smnrelformulaitemmateriales.sql")'>${lbl:b_unidad_medida}</th>
		<th class='sortable' onclick='sortBy("rfm_fecha_registro","query-smnrelformulaitemmateriales.sql")'>${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_rel_formula_item_materiales_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_rel_formula_item_materiales_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_rel_formula_item_materiales_id}')" title="${lbl:b_edit_button}"></td>
		<td>${fld:smn_rel_formula_item_id}</td>
		<td>${fld:smn_item_id_combo}</td>
		<td align='right'>${fld:rfm_cantidad@#,###,##0.00}</td>
		<td>${fld:smn_unidad_medida_rf_combo}</td>
		<td>${fld:rfm_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
