<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>
	<col width='15%'/>


	<!--toolbar-->
	<tr>
		<th colspan="9" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_orden_produccion_id_combo','query-smnordenproduccionequipos.sql')" >${lbl:b_order_production}</th>
		<th class='sortable' onclick="sortBy('smn_centro_produccion_id_combo','query-smnordenproduccionequipos.sql')" >${lbl:b_center_production}</th>
		<th class='sortable' onclick="sortBy('smn_linea_produccion_id_combo','query-smnordenproduccionequipos.sql')" >${lbl:b_production_line}</th>
		<th class='sortable' onclick="sortBy('smn_activo_rf_combo','query-smnordenproduccionequipos.sql')" >${lbl:b_active_fij}</th>
		<th class='sortable' onclick="sortBy('ope_estatus_combo','query-smnordenproduccionequipos.sql')" >${lbl:b_status}</th>
		<th class='sortable' onclick="sortBy('ope_fecha_registro','query-smnordenproduccionequipos.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_orden_produccion_equipos_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_orden_produccion_equipos_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_orden_produccion_equipos_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_orden_produccion_id_combo}</td>
		<td align="center">${fld:smn_centro_produccion_id_combo}</td>
		<td align="center">${fld:smn_linea_produccion_id_combo}</td>
		<td align="center">${fld:smn_activo_rf_combo}</td>
		<td align="left">${fld:ope_estatus_combo}</td>
		<td align="center">${fld:ope_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
