<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordenproduccionmateriales.sql" source="session" scope="transaction" />
		<recordset id="filter.params" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_order_production_materials}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' align="left" />
	<pdf-file-name>${lbl:b_order_production_materials}.pdf</pdf-file-name>

	<pdf-report pageSize="letter" rotate="false" footer="true" header="true">
		<record recordset='filter.params' title='${lbl:b_filter_find}' noFilterMsg='-- ${lbl:b_all_message} --' width='55' spacingBefore='15'>
			<col name='smn_orden_produccion_id_name' title='${lbl:b_order_production}'  align='left' />
			<col name='smn_centro_produccion_id' title='${lbl:b_left_production}'  format='######' align='left' />
			<col name='smn_linea_produccion_id' title='${lbl:b_production_line}'  format='######' align='left' />
			<col name='opm_estatus' title='${lbl:b_status}'  align='left' />
			<col name='opm_fecha_registro_ini' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />
			<col name='opm_fecha_registro_fin' title='${lbl:b_store_date}'  format='dd-MM-yyyy' align='left' />

		</record>
		<record recordset='query-smnordenproduccionmateriales.sql' width='100' spacingBefore='10'>
			<col name='smn_orden_produccion_id' title='${lbl:b_order_production}' width='10' align='left' format='######' />
			<col name='smn_centro_produccion_id' title='${lbl:b_left_production}' width='10' align='left' format='######' />
			<col name='smn_linea_produccion_id' title='${lbl:b_production_line}' width='10' align='left' format='######' />
			<col name='smn_item_rf' title='${lbl:b_item}' width='10' align='left' format='######' />
			<col name='opm_cantidad_solicitada' title='${lbl:b_cantidad_solicitada}' width='10' align='left' format='#,###,##0.00' />
			<col name='opm_cantidad_despachada' title='${lbl:b_cantidad_despachada}' width='10' align='left' format='#,###,##0.00' />
			<col name='opm_costo_ml' title='${lbl:b_costo_ml}' width='10' align='left' format='#,###,##0.00' />
			<col name='opm_costo_ma' title='${lbl:b_costo_ma}' width='10' align='left' format='#,###,##0.00' />
			<col name='opm_estatus' title='${lbl:b_status}' width='10' align='left' />
			<col name='opm_fecha_registro' title='${lbl:b_store_date}' width='10' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
