<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Generar reporte generico PDF
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnrelformulaitemfunciones.sql" source="session" scope="transaction" />
	</transaction>

	<output>
		<classname>dinamica.PDFGenericReport</classname>
	</output>
	
	<pdf-title>${lbl:b_relationship_formula_functions}</pdf-title>
	<pdf-logo url='/images/logo-simone-pdf.png' scale='100' />
	<pdf-file-name>${lbl:b_relationship_formula_functions}.pdf</pdf-file-name>

	<pdf-report 
		pageSize="letter" 
		rotate="false"
		footer="false" 
		header="true">
		<record recordset='query-smnrelformulaitemfunciones.sql' width='100' spacingBefore='40'>
			<col name='smn_rel_formula_item_id' title='${lbl:b_relationship_formula_item}' width='20' align='left' format='######' />
			<col name='smn_funciones_id_combo' title='${lbl:b_functions}' width='20' align='left' format='######' />
			<col name='rfe_cantidad' title='${lbl:b_quantity}' width='20' align='left' format='#,###,##0.00' />
			<col name='smn_unidad_medida_rf_combo' title='${lbl:b_unidad_medida}' width='20' align='left' format='######' />
			<col name='rff_fecha_registro' title='${lbl:b_store_date}' width='20' align='left' format='dd-MM-yyyy' />

		</record>

	</pdf-report>
</config>
