<!--data grid-->
<table class="datagrid" style="width:95%;">

	<col width='3%'/>
	<col width='3%'/>
	<col width='3%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>
	<col width='8%'/>


	<!--toolbar-->
	<tr>
		<th colspan="14" id="encabezado_tabla">
			${req:controls} 
		</th>
	</tr>

	<!--encabezados-->
	<tr>
		<th></th>
		<th></th>
		<th></th>
		<th class='sortable' onclick="sortBy('smn_orden_produccion_id_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_order_production}</th>
		<th class='sortable' onclick="sortBy('smn_activo_rf_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_active_fij}</th>
		<th class='sortable' onclick="sortBy('smn_centro_produccion_id_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_center_production}</th>
		<th class='sortable' onclick="sortBy('smn_linea_produccion_id_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_production_line}</th>
		<th class='sortable' onclick="sortBy('smn_funciones_id_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_functions}</th>
		<th class='sortable' onclick="sortBy('opa_hora_inicial','query-smnordenproduccionactividad.sql')" >${lbl:b_hora_inicial}</th>
		<th class='sortable' onclick="sortBy('opa_hora_final','query-smnordenproduccionactividad.sql')" >${lbl:b_hora_final}</th>
		<th class='sortable' onclick="sortBy('opa_horas','query-smnordenproduccionactividad.sql')" >${lbl:b_horas}</th>
		<th class='sortable' onclick="sortBy('smn_unidad_medida_rf_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_unidad_medida}</th>
		<th class='sortable' onclick="sortBy('opa_estatus_combo','query-smnordenproduccionactividad.sql')" >${lbl:b_status}</th>
		<th class='sortable' onclick="sortBy('opa_fecha_registro','query-smnordenproduccionactividad.sql')" >${lbl:b_store_date}</th>

	</tr>

	<!--data-->
	<rows>
	<tr>
		<td><img src="${def:context}/images/search.png"  onclick="getDetail('${fld:smn_orden_produccion_actividad_id}')" title="${lbl:b_view_detail}"></td>
		<td><img src="${def:context}/images/delete.png"  onclick="deleteRecord('${fld:smn_orden_produccion_actividad_id}')" title="${lbl:b_delete_button}"></td>
		<td><img src="${def:context}/images/edit.png"  onclick="showEditor('${fld:smn_orden_produccion_actividad_id}')" title="${lbl:b_edit_button}"></td>
		<td align="center">${fld:smn_orden_produccion_id_combo}</td>
		<td align="center">${fld:smn_activo_rf_combo}</td>
		<td align="center">${fld:smn_centro_produccion_id_combo}</td>
		<td align="center">${fld:smn_linea_produccion_id_combo}</td>
		<td align="center">${fld:smn_funciones_id_combo}</td>
		<td align="left">${fld:opa_hora_inicial}</td>
		<td align="left">${fld:opa_hora_final}</td>
		<td align="left">${fld:opa_horas}</td>
		<td align="center">${fld:smn_unidad_medida_rf_combo}</td>
		<td align="left">${fld:opa_estatus_combo}</td>
		<td align="center">${fld:opa_fecha_registro@dd-MM-yyyy}</td>

	</tr>
	</rows>

</table>
