<?xml version='1.0' encoding='ISO-8859-1'?>
<config>

	<summary>
		Insertar registro 
	</summary>

	<log>false</log>

	<!--soporte de auditoria-->
	<audit>
		<!--de donde saca los datos, por defecto es "_request"-->
		<recordset></recordset>
		<!--que campos extrae para el registro descriptivo-->
		<cols>
			<colname>smn_modulo_rf</colname>
			<colname>smn_documento_origen_rf</colname>
			<colname>opr_numero_documento_origen</colname>
			<colname>smn_usuario_solicitante_rf</colname>
			<colname>smn_documento_id</colname>
			<colname>opr_numero_documento</colname>
			<colname>opr_descripcion</colname>
			<colname>smn_entidad_rf</colname>
			<colname>smn_sucursal_rf</colname>
			<colname>smn_item_rf</colname>
			<colname>opr_cantidad</colname>
			<colname>opr_fecha_solicitud</colname>
			<colname>opr_fecha_despacho</colname>
			<colname>smn_rol_id</colname>
			<colname>opr_estatus</colname>
		
		</cols>
		<table>smn_produccion.smn_orden_produccion</table>
		<oper>AÑADIR</oper>
		<area>Carga de datos</area>
		<!--
			query para obtener el ID generado o nombre de 
			la columna que contiene el pkey, si es query, 
			el alias del campo debe ser "id"
		-->
		<pkey>select ${seq:currval@smn_produccion.seq_smn_orden_produccion} as id</pkey>
	</audit>

	<transaction>
		<classname>dinamica.audit.AuditableTransaction</classname>
		<validator>true</validator>
		<transaction>true</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="nextval.sql" source="sql" scope="transaction" />
	</transaction>

	<query>insert.sql</query>

	<output>
		<classname>dinamica.GenericOutput</classname>
		<template>script.js</template>
		<set-http-headers>true</set-http-headers>
		<content-type>text/javascript</content-type>
		<expiration>0</expiration>
		<print mode="form" recordset="_request" />
		<print mode="form" recordset="nextval.sql" />
	</output>
	
	<!-- Envio de email declarativo -->
	<mail enabled="false">
		<subject>Subject</subject>
		<mail-to>martin.cordova@gmail.com</mail-to>
		<body>body.txt</body>
	</mail>

</config>
