<?xml version='1.0' encoding='ISO-8859-1'?>
<config nodb="true">

	<summary>
		Exportar documento excel directo al browser
	</summary>

	<log>false</log>

	<transaction>
		<classname>dinamica.GenericTransaction</classname>
		<validator>false</validator>
		<transaction>false</transaction>
		<jdbc-log>false</jdbc-log>
		<recordset id="query-smnordenproduccionactividad.sql" source="session" scope="transaction" />
		
	</transaction>

	<output>
		<classname>dinamica.GenericExcelOutput</classname>
	</output>
		
	<excel 
		filename='${lbl:b_order_production_activity}.xls' >
		
	<sheet recordset="query-table_stuck}.sql" sheetname="${lbl:b_order_production_activity}">
				<col id='smn_orden_produccion_id_combo' label='${lbl:b_order_production}' />
		<col id='smn_activo_rf_combo' label='${lbl:b_active_fij}' />
		<col id='smn_centro_produccion_id_combo' label='${lbl:b_center_production}' />
		<col id='smn_linea_produccion_id_combo' label='${lbl:b_production_line}' />
		<col id='smn_funciones_id_combo' label='${lbl:b_functions}' />
		<col id='opa_hora_inicial' label='${lbl:b_hora_inicial}' />
		<col id='opa_hora_final' label='${lbl:b_hora_final}' />
		<col id='opa_horas' label='${lbl:b_horas}' />
		<col id='smn_unidad_medida_rf_combo' label='${lbl:b_unidad_medida}' />
		<col id='opa_estatus_combo' label='${lbl:b_status}' />
		<col id='opa_fecha_registro' label='${lbl:b_store_date}' />

	</sheet>
	
	</excel>

</config>
